<div class="footer-row">
    


    

    <div class="container" style="padding-bottom:1em">
        <hr style="border-top: 1px solid #efefef"> 
    <div class="row">
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block" >
         <p class="ftn_foothead">mojawo</p>
         
         <ul class="footerList">
             <li><a href="https://www.mojawo.de/seiten/zahlungsarten/" class="footlink">Zahlungsarten</a></li>
             <li><a href="https://www.mojawo.de/seiten/versandkosten/" class="footlink">Versandkosten</a></li>
             <li><a href="{{ urls.contact }}" class="footlink">Kontakt</a></li>
             </ul>
     </div>
     
     
     
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block">
         <p class="ftn_foothead">Zahlungsarten</p>
         <div class="icon-pad"><img src="https://www.mojawo.de/layout/mojawo/icons/icon-pay-vorkasse.png" class="icon-img"></div>
         <div class="icon-pad"><img src="https://www.mojawo.de/layout/mojawo/icons/icon-pay-paypal.png" class="icon-img"></div>
         <div class="icon-pad"><img src="https://www.mojawo.de/layout/mojawo/icons/icon-pay-amazon.png" class="icon-img"></div>
     </div>
     
     
     
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block">
         <p class="ftn_foothead">Versandpartner</p>
         <div class="icon-pad"><img src="https://www.mojawo.de/layout/mojawo/icons/icon-shipping-dhl.png" class="icon-img"></div>
         <div class="icon-pad"><img src="https://www.mojawo.de/layout/mojawo/icons/icon-shipping-dpd.png" class="icon-img"></div>
         <div class="icon-pad"><img src="https://www.mojawo.de/layout/mojawo/icons/icon-shipping-cargoline.png" class="icon-img"></div>
     </div>
     
     
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block">
        <p class="ftn_foothead">Service & Kontakt</p>
    
    
                <div class="footer-icon">
                    <i class="fas fa-phone-volume" style="font-size:20px; color:#3e3e3e"></i>
                </div>
                <div style="float:left"> 
                    <span class="footftn">Rufen Sie uns an unter:</span><br>
                    <a href="tel:+4921222190470" class="footlink">0212 / 22190470</a>
                </div>
    
                <div class="clearer"></div>
    
                <span class="footer-icon">
                    <i class="fas fa-envelope" style="font-size:20px; color:#3e3e3e"></i>
                </span>
                <div style="float:left"> 
                    <span class="footftn">oder schreiben Sie uns:</span><br>
                    <a href="mailto:support@mojawo.de" class="footlink">support@mojawo.de</a>
                </div>
                
                <div class="clearer"></div>
    
    
     </div>
    
    
    
    </div>
    </div>
    
    
    

                
                <div class="container">
                    <hr style="border-top: 1px solid #efefef"> 
                        <div class="row">
    
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
    <div class="widget widget-newsletter widget-primary">
        <div class="widget-inner">
            <p class="h4" style="padding:50px 0 0 0; font-size:16px; text-transform:none; padding-bottom:10px">Sonderangebote und Aktionen mit unserem Newsletter!</p>
            <newsletter-input :title="&quot;&quot;" :sub-title="&quot;&quot;" :show-name-inputs="false" :show-privacy-policy-checkbox="true" :email-folder="&quot;&quot;"></newsletter-input>
        </div>
    </div>
                        </div>
    
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" align="center">
                            <div style="padding-top:60px">
                            <span style="padding-right:30px"><img src="https://www.mojawo.de/layout/mojawo/landbell.png" style="max-height:70px"></span>
                            <span style="padding-right:30px"><img src="https://cdn02.plentymarkets.com/i6rqagz2764j/frontend/mojawo/img/layout/hb_siegel.png" style="max-height:70px"></span>
                            <span style="padding-right:30px"><img src="https://www.mojawo.de/layout/mojawo/kaeufersiegel.png" style="max-height:70px"></span>
                            </div>
                        </div>
    
                    </div>
                </div>
    
    
   
    <div class="container">
        <hr style="border-top: 1px solid #efefef; margin-top:20px">  
    <div class="row">
    
     <div class="col-md-12 col-xs-12" align="center" style="padding:10px 0 30px 0; line-height:30px">
    
     <div>
         <a href="{{ urls.cancellationRights }}" class="footlink2">Widerrufsrecht</a> 
         <span style="padding:0 10px; color:#a3b1b3">|</span> 
         <a href="{{ urls.privacyPolicy }}" class="footlink2">Datenschutzerklärung</a> 
         <span style="padding:0 10px; color:#a3b1b3">|</span> 
         <a href="{{ urls.gtc }}" class="footlink2">AGB</a> 
         <span style="padding:0 10px; color:#a3b1b3">|</span> 
         <a href="{{ urls.legalDisclosure }}" class="footlink2">Impressum</a> 
    </div>
    
     <div class="footftn2">Copyright by INDA Warenvertriebs GmbH</div>
     <div style="font-size:10px; color:#737373; text-transform:uppercase; padding:10px 0 0 0">Designed by <a href="http://www.plentybay.de" target="_blank" style="color:#737373">Plentybay</a> </div>
         
     </div>
    
    </div>
    </div>
    
    
    
    
    
         
    
        
    </div>


<a id="button-to-top"></a>
