



<div class="footer-row">
 

    <div class="container">
    <div class="row">



     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block" >
         <p class="ftn_foothead">Service</p>
         <ul class="footerList">
            <li><i class="fas fa-chevron-right" style="font-size:12px; color:#dd362e; padding-right:6px"></i> <a href="{{ urls.contact }}" class="footlink">Kontakt</a></li>
            <li><i class="fas fa-chevron-right" style="font-size:12px; color:#dd362e; padding-right:6px"></i> <a href="/e-home24/zahlung-und-versand/" class="footlink">Zahlung & Versand</a></li>
            <li><i class="fas fa-chevron-right" style="font-size:12px; color:#dd362e; padding-right:6px"></i> <a href="/e-home24/faq/" class="footlink">FAQ</a></li>
            <li><i class="fas fa-chevron-right" style="font-size:12px; color:#dd362e; padding-right:6px"></i> <a href="https://www.e-home24.de/e-home24/rma/" class="footlink">Rücksendung/Reklamation</a></li>
            </ul>
     </div>
     
     
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block" >
        <p class="ftn_foothead">Informationen</p>
        <ul class="footerList">
            <li><i class="fas fa-chevron-right" style="font-size:12px; color:#dd362e; padding-right:6px"></i> <a href="{{ urls.cancellationRights }}" class="footlink">Widerrufsrecht</a></li>
            <li><i class="fas fa-chevron-right" style="font-size:12px; color:#dd362e; padding-right:6px"></i> <a href="{{ urls.privacyPolicy }}" class="footlink">Datenschutzerklärung</a></li>
            <li><i class="fas fa-chevron-right" style="font-size:12px; color:#dd362e; padding-right:6px"></i> <a href="{{ urls.gtc }}" class="footlink">AGB</a></li>
            <li><i class="fas fa-chevron-right" style="font-size:12px; color:#dd362e; padding-right:6px"></i> <a href="{{ urls.legalDisclosure }}" class="footlink">Impressum</a></li>
            </ul>
    </div>


     
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block">
         <p class="ftn_foothead">Zahlungsarten</p>
         <div class="icon-pad"><img src="https://cdn03.plentymarkets.com/08spb2yuy9vg/frontend/e-home24/img/layout/icons/icon-pay-paypal.png" class="icon-img"></div>
         <div class="icon-pad"><img src="https://cdn03.plentymarkets.com/08spb2yuy9vg/frontend/e-home24/img/layout/icons/icon-pay-vorkasse.png" class="icon-img"></div>
         <div class="icon-pad"><img src="https://cdn03.plentymarkets.com/08spb2yuy9vg/frontend/e-home24/img/layout/icons/icon-pay-sofort.png" class="icon-img"></div>
     </div>
     
     
     

     
     
     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-block">
        <p class="ftn_foothead">Service & Kontakt</p>
    
    
                <div class="footer-icon">
                    <i class="fas fa-phone-volume" style="font-size:20px; color:#3e3e3e"></i>
                </div>
                <div style="float:left"> 
                    <span class="footftn">Rufen Sie uns an unter:</span><br>
                    <a href="tel:+4956343583225" class="footlink">(0)5634 35 83 225</a>
                </div>
    
                <div class="clearer"></div>
    
                <span class="footer-icon">
                    <i class="fas fa-envelope" style="font-size:20px; color:#3e3e3e"></i>
                </span>
                <div style="float:left"> 
                    <span class="footftn">oder schreiben Sie uns:</span><br>
                    <a href="/contact" class="footlink">zum Kontaktformular</a>
                </div>
                
                <div class="clearer"></div>
    
    
     </div>
    
    
    
    </div>
    </div>
    

              
              
  
  <div class="container">

    <hr style="border-top: 1px solid #efefef; margin-top:20px">  
  
  <div class="row">
  
   <div class="col-md-12 col-xs-12" align="center" style="padding:10px 0 30px 0; line-height:30px">

  
   <div class="footftn2">Copyright by e-home24</div>
   <div style="font-size:10px; color:#737373; text-transform:uppercase; padding:10px 0 0 0">Designed by <a href="https://www.plentybay.de" target="_blank" style="color:#737373" alt="Plentymarkets Agentur Shop Design Ceres Themes Webdesign">Plentybay.de</a> </div>
  
   </div>
  
  </div>
  </div>
  
  
  
  </div>

</div>
  
  
